h1 {
  color: blue;
   font-family: 'Kalam', cursive;
}

.navbar {
    font-family: 'Kalam', cursive;
    display: flex;
    justify-content: space-around;
    background-color: lightblue; 
}

body {
    background-color: blue;
}